<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestingApp"
        tools:targetApi="31">
        <activity
            android:name=".RabbitQuiz5"
            android:exported="true" />
        <activity
            android:name=".RabbitQuiz4"
            android:exported="true" />
        <activity
            android:name=".RabbitQuiz3"
            android:exported="true" />
        <activity
            android:name=".RabbitQuiz2"
            android:exported="true" />
        <activity
            android:name=".RabbitQuiz1"
            android:exported="true" />
        <activity
            android:name=".KoalaQuiz5"
            android:exported="true" />
        <activity
            android:name=".KoalaQuiz4"
            android:exported="true" />
        <activity
            android:name=".KoalaQuiz3"
            android:exported="true" />
        <activity
            android:name=".KoalaQuiz2"
            android:exported="true" />
        <activity
            android:name=".KoalaQuiz1"
            android:exported="true" />
        <activity
            android:name=".PandaQuiz5"
            android:exported="true" />
        <activity
            android:name=".PandaQuiz4"
            android:exported="true" />
        <activity
            android:name=".PandaQuiz3"
            android:exported="true" />
        <activity
            android:name=".PandaQuiz2"
            android:exported="true" />
        <activity
            android:name=".PandaQuiz1"
            android:exported="true" />
        <activity
            android:name=".QuizResult"
            android:exported="true" />
        <activity
            android:name=".QuizQuestion5"
            android:exported="true" />
        <activity
            android:name=".QuizQuestion4"
            android:exported="true" />
        <activity
            android:name=".QuizQuestion3"
            android:exported="true" />
        <activity
            android:name=".QuizQuestion2"
            android:exported="true" />
        <activity
            android:name=".QuizQuestion1"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".HomeFragment"
            android:exported="true" />
        <activity
            android:name=".Video_Learning"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Video_Learningkoala"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Video_Learningelephant"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Video_Learningrabbit"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>